body{
    background-color: #cc5577;
    background-image: url("https://media.istockphoto.com/id/1176843522/photo/in-the-busy-engineering-facility-diverse-group-of-engineers-technicians-working-on-design-for.webp?b=1&s=170667a&w=0&k=20&c=d1-aw28_1Pp6JpQAIGzsrR46DgMA1otXvIzfPe5U8DM=");
    background-attachment: fixed;
    background-size: cover;
}
